{% extends 'main/base.html' %}

{% block content %}

<button> <a href="{% url 'delete_student' student.id %}">Delete this student's account</a> </button>

<div class="student-account" >
    {% if student %}
    <h1>{{student.first_name}} {{student.last_name}}</h1>
    <h1>{{student.student_group}}</h1>
    <p>Parent: {{student.parent_f_name}}
        {% if student.parent_patronimic %} {{student.parent_patronimic}} {% endif %}
        {{student.parent_l_name}}</p>
    <p>E-mail: {{student.email}}</p>
    <p>Parent's telephone number: {{student.parent_tel_numb}}</p>
    {% endif %}
</div>

{% endblock %}