{% extends 'main/base.html' %}

{% block content %}

<header class="dashboard-header">
        <div class="sidebar__icon sidebar__icon-menu-btn">
            <i class="fas fa-bars"></i>
        </div>

        <a class="dashboard-header__home" href="{% url 'home' %}"  >
            <span fas fa-home></span>
            Home
        </a>
        <div class="user-wrapper">
          <a target="_blank" class="auth-btn" href="{% url 'logout' %}" >Logout</a>
        </div>
</header>

{% endblock %}
                                                                                       