{% extends 'main/base.html' %}

{% block content %}

<h1>Group {{group.year}}{{group.name}} </h1>
<button> <a href="{% url 'delete_group' group.id %}">Delete this group</a> </button>
<p> Number of students: {{ student_count }} </p>

<h1>Edit form</h1>
<form method="post" >
    {% csrf_token %}
    {% for field in edit_form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
    <button type="submit">Save</button>
</form>

{% endblock %}