{% extends 'main/base.html' %}
{% block content %}

<h1>Home page</h1>
<h2>Announcements</h2>
{% if announcements %}
{% for el in announcements %}
<div class="alert alert-warning mt-2" data-announcement-id={{el.id}}>
    <h3>{{ el.created_at }}</h3>
    <p>{{ el.announcement }}</p>
</div>
{% endfor %}
{% else %}
<p>No announcements at the moment</p>
{% endif %}

<h1>Send your application</h1>
<form method="post">
    {% csrf_token %}
    {% for field in create_form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
    <button type="submit">Save</button>
</form>

{% endblock %}