{% extends 'main/base.html' %}

{% block content %}

<h1>Group {{group.year}}{{group.name}}</h1>
{% if group_lessons %}
{% for el in group_lessons %}
<div class="alert alert-warning mt-2">
    <h3>{{el.created_at}}</h3>
    <h3>{{el.task}}</h3>
    <button> <a href="{% url 'delete_lesson' group.id el.id %}">Delete</a> </button>
</div>
{% endfor %}
{% else %}
<p>This group has no lesson records!</p>
{% endif %}

<h1>Create new lesson</h1>
<form method="post">
    {% csrf_token %}
    {% for field in create_form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
    <button type="submit">Save</button>
</form>


<h1>Edit lesson</h1>
<form method="post">
    {% csrf_token %}
    {% for field in edit_form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
    <button type="submit">Save</button>
</form>


{% endblock %}