{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<img class="wave" src="{% static 'main/img/wave.jpg' %}">
<div class="login-container">
   <div class="img-block"><img src="{% static 'main/img/login.svg' %}"></div>
   <div class="login-content">
      <form method="post"  action="{% url 'login' %}" autocomplete="off">
         <img src="{% static 'main/img/male_avatar.svg' %}">
         {% csrf_token %}
         <h2 class="title">Welcome</h2>
         <div class="input-div email">
            <div class="icon-block"><span class="fas fa-envelope"></span></div>
            <div class="input-block">
               <h5>User name</h5>
               {{ form.username }}
            </div>
         </div>
         <div class="input-div pass">
            <div class="icon-block"><span class="fas fa-lock"></span></div>
            <div class="input-block">
               <h5>Password</h5>
               {{ form.password }}
            </div>
         </div>
         <button class="btn-form btn-form--green" type="submit" id="#login">Login</button>
      </form>
   </div>
</div>
{% endblock %}