{% extends 'main/base.html' %}


{% block content %}


<div class="conatiner">
  {% include "main/accHeader.html"%}
  {% include "main/sidebar.html"%}

  <div class="main-content">
    <div class="data-card data-card--non-table">
      <div class="data-card__header">

      </div>

      <div class="data-card__body">
          <h2 class="data-card__body-title data-card__body-title--non-table">New student</h2>

          <form class="create-student-form" method="post">
    {% csrf_token %}
    {% for field in create_form %}


     <div class="modal-form__input-container">{{ field }}
         <span class="input-container-label">{{ field.label_tag }}</span>

         {% for error in field.errors %}
            <p class="modal-form__input-error">{{ error }}</p>
         {% endfor %}

        {% for nf_error in create_form.non_field_errors %}
            <p class="modal-form__input-error">{{ nf_error }}</p>
        {% endfor %}
        {% if field.help_text %}
            <small class="modal-form__input-helper">{{ field.help_text }}</small>
        {% endif %}
     </div>



  {% endfor %}
    <button class="create-new-student-btn" type="submit">Save</button>
</form>


      </div>
    </div>
  </div>

</div>


{% endblock %}
