{% extends 'main/base.html' %}
{% load urlparam %}
{% urlparam request.user.id as add_urlparam %}
{% load check_group %}
{% check_group request.user.id as add_check_group %}
{% block content %}

<div class="sidebar">
   <div class="sidebar__icon sidebar__icon-cancel-btn">
      <i class="fas fa-times"></i>
   </div>
   <div class="sidebar-nav-mini"><span>Navigation</span></div>
   <nav class="sidebar-menu">
      <ul>
         {% if request.user.groups.all.0.name == 'teacher' or request.user.is_superuser %}
         <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="{% url 'groups'%}" id="sidebar-groups"> <span class="fas sidebar-menu__icon fa-users"></span><span>Groups</span></a></li>
         <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="{% url 'all_students' %}" id="sidebar-students"> <span class="fas sidebar-menu__icon fa-user"></span><span>Students</span></a></li>
         <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="{% url 'announcements' %}" id="sidebar-announcements"> <span class="fas sidebar-menu__icon fa-bullhorn"></span><span>Announcements</span></a></li>
         <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="{% url 'applications' %}" id="sidebar-applications"> <span class="fas sidebar-menu__icon fa-envelope-open-text"></span><span>Applications</span></a></li>
         {% elif request.user.groups.all.0.name == 'student' %}
         <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="{% url 'observations'  request.user.id %}" id="sidebar-observations"> <span class="fas sidebar-menu__icon fa-comment-dots"></span><span>Observations</span></a></li>
          {% if add_check_group == true %}
          <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="/groups/{% urlparam request.user.id %}/lessons/" id="sidebar-lessons"> <span class="fas sidebar-menu__icon fa-book"></span><span>Lessons</span></a></li>
          {% endif %}
         {% endif %}
      </ul>
   </nav>
</div>

{% endblock %}
