
* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none !important;
  outline: 0 !important;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}


body {
  /* font-weight: 400; */
  box-sizing: border-box;
  /* min-height: 100vh; */
  background-color: #eee;
  /* overflow-x: hidden; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba( 0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0 ,0, 0, 0.3)
}



.home-container {
  line-height: 1.6;
  color: #000;
  background-color: #fff;
  font-family: Roboto, sans-serif;
}

.home-container img {
   width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 200px;
}



/* ------------------------------------------HOME PAGE-------------------------------------------------------- */







/* ------------------------------------------------------Account page------------------------------------------ */


.sidebar {
  /* width: 21.5625rem; */
  width: 255px;
  position: fixed;
  height: calc(100% - 5rem);
  top: 5rem;
  left: 0;
  /* background: var(--main-color); */
  background: #2e3e4e;
  z-index: 100;
  transition: transform .3s ease;

}



.sidebar-nav-mini {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-nav-mini span {
  display: inline-block;
  padding-right: 1rem;
  color: #009879;
  font-size: 1.1rem;
}

.sidebar-menu {
  margin-top: 1rem;
}

.sidebar-menu ul {
  list-style: none;

}

.sidebar-menu__icon {
  color: #9aa3ae;
  flex-basis: 20%;
}

.sidebar-menu__link:link,
.sidebar-menu__link:visited {
  color: #9aa3ae;
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  z-index: 10;
}

/* .sidebar-menu__link:link,
.sidebar-menu__link:visited  */

.sidebar-menu__item {
  position: relative;
}

.sidebar-menu__item:not(:last-child) {
  margin-bottom: .5rem;
} 

.sidebar-menu__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgb(34, 189, 136, 0.4);
  /* #22bd88 */
  transform: scale(0);
  transition: transform .2s,
              width .2s cubic-bezier(1,0,0,1) .2s,
              background-color .1s;
}

.sidebar-menu__item:hover::before,
.sidebar-menu__item--active::before {
  transform: scaleY(1);
  width: 100%;
}

.sidebar-menu__item--active {
  background-color: #009879;
}

.sidebar-menu__item--active a span{
  color: #fff
}

.sidebar-menu__item.active .sidebar-menu__icon {
  color: #fff;
}

.sidebar-menu__item span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.sidebar__icon {
  position: absolute;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}

.sidebar__icon-cancel-btn {
  top: 10px;
  left: 230px;
  color: #fff;
}

.sidebar__icon-menu-btn {
  top: 50%;
  transform: translateY(-50%);
  color: #2e3e4e;
  left: 230px;
  left: 50%;
  z-index: 200;
}



.main-content {
  width: calc(100% - 255px);
  margin: 6rem 0 0 255px;
}

.main-content > h1 {
  /* margin: 0 0 1rem 1rem; */
  width: 98%;
  margin-left: calc(1%);
  margin: 0 auto 4.5rem;
}

.dashboard-header {
    position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #797979;
  position: fixed;
  height: 5rem;
  width: 100%;
  top: 0;
  z-index: 600;
}


.dashboard-header__home:link,
 .dashboard-header__home:link:visited {
  color: #2f5677;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}


.search-wrapper {
  display: flex;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  position: relative;
  width: 310px;
  display: flex;
}

.search-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  cursor: pointer;
  flex: 0 0 10%;
  border-right: 1px solid #ccc;
}

.search-icon {
  color: #808080;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.search-wrapper input {
  background-color: #f8f8f8;
  border: none;
  outline: none;
  font-size: 1.2rem;
   padding-left: .5rem;
  flex: 0 0 75%;
}



.data-card__student-add-window {
  position: absolute;
  top: -1.5px;
  left: -1px;
  background-color: #fff;
  height: 2.5rem;
  width: 312px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
  color: #000;
  display: flex;
  align-items: center;
}

.data-card__student-add-window--show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.data-card__student-add-name {
  flex: 0 0 74%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: .5rem;
}

.data-card__student-add-buttons {
  flex: 1;
  border-left: 1px solid #ccc;
  display: flex;
    height: 101%;

}

.data-card__student-add-buttons span {
  flex-basis: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.data-card__student-add-buttons span:nth-child(1) {
  background-color: #e3e3e3;
  color: #009879;
}

.data-card__student-add-buttons span:nth-child(2) {
  background-color: #ccc;
  color: #dc143c;
}



.user-wrapper {
  display: flex;
  align-items: center;
}

.data-card {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  width: 98%;


    /* box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  color: #797979; */
  border: 1px solid #d8d8d8;
  color: #000000cc;
}

/* .data-card--nav {
  position: relative;
}

.data-card--nav::after {
  content: '';
  position: absolute;
  width: calc(100% - 314px);
  height: 51px;
  left: 315px;
  top: -1px;
  background-color: #eee;
} */

.data-card--non-table {
  box-shadow: none;
  border: 1px solid #d8d8d8;
  color: #000;
  background-color: transparent;
  /* background: #dbdbdb */
  background: #fff
}




/* .data-card.active {
  display: block;
} */

.data-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  /* position: relative; */
}


.data-card__header--applications {
  justify-content: flex-end;
}

.data-card__header-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #444;
  color: #fff;
  background: #0478c5;
  cursor: pointer;
  padding: .3rem;
  font-size: 1.1rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.data-card__header-button:hover {
  border: 2px solid #0478c5;
  /* color: #444; */
  color: #0478c5;

  background: #fff;
}

.data-card__header-button--red {
  background: #dc143c;
  margin-left: 1rem;
}

.data-card__header-button--red:hover {
  border: 2px solid #dc143c;
  color: #dc143c;
}

.data-card__header-button--teal {
  background: #008080;
}

.data-card__header-button--teal:hover {
  border: 2px solid #008080;
  color: #008080;
}

.data-card__header-button--peru {
  background: #cd853f;
}

.data-card__header-button--peru:hover {
  border: 2px solid #cd853f;
  color: #cd853f;
}

.data-card__header-button span:first-child{
  margin-right: 1rem;
}

.create-flag span:first-child{
  margin-right: .5rem;

}

.data-card__header-button a:visited,
.data-card__header-button a:link {
    color: #fff;
    text-decoration: none;
    display: block;
}

.data-card__header-button:hover a {
    color: #0478c5;
}

.data-card__header-button--teal:hover a {
    color: #008080;
}

.data-card__sort-btn {
  margin-left: 1rem;
  background-color: #cd853f;
}

.data-card__sort-btn.th-sort-asc span:nth-child(1) {
    transform: rotate(0);
}

.data-card__sort-btn.th-sort-desc span:nth-child(1) {
    transform: rotate(180deg);
}

.data-card__sort-btn:hover {
  border: 2px solid #cd853f;
  color: #cd853f;
}

.sort-wrapper {
  display: flex;
}

.sort-pre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.4rem;
}

.sort {
  width: 200px;
  position: relative;
  /* outline: none;
  height: 35px;
  /* background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);  */
}

.sort.active .sort-body {
  display: block;
}

.sort-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  cursor: pointer;
  align-items: center;
  background: linear-gradient(180deg, rgba(69,166,229,1) 0%, rgba(4,120,197,1) 35%);
  color: #fff;
  padding-right: .5rem;
}

.sort-current-option {
  font-size: 1.1rem;
  line-height: 1.5rem; 
  padding: 0.5rem;
}

.sort-pointer {
  width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff;
  padding: 0;
  cursor: pointer;
}

.sort-pointer-wrapper {
  transform: rotate(-90deg);
  transition: 0.3s;
}

.sort-pointer-wrapper.rotate {
  transform: rotate(0);
}

.sort-body {
  display: none;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.sort-option {
  line-height: 1.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  border-bottom: 1px dashed #e3e3e3;;
}

.sort-option:last-child {
  border-bottom: none;
}

.sort-option:hover {
  background-color: #f2f2f2;
}

.table {
  border-collapse: separate;
  /* border-collapse: collapse;  */
  width: 100%;
  table-layout: fixed;
}

.table td {
  width: 100%;
}


.table thead tr {
  background: #009879;
  color: #fff;
  font-weight: 700;
  /* cursor: pointer; */
}

.table__sort-option {
  cursor: pointer;
}

.table .th-sort-asc::after {
  content: '\25b4';
}

.table .th-sort-desc::after {
  content: '\25be';
}

.table .th-sort-asc::after, 
.table .th-sort-desc::after {
  margin-left: 0.25rem;
}

.table .th-sort-asc,
.table .th-sort-desc {
  background-color: rgba(0, 0, 0, 0.3);
}

.table__row.hide {
  display: none;
}


.table__row td:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table td,
.table th {
  padding: 0.5rem 1rem;
  text-align: center;
  border: 1px solid #c9c9c9;
}

.table__row:nth-of-type(even) {
  background: #f3f3f3;
  /* background: #eae9ea; */
}

.table__row:hover {
  background-color: rgb(0, 152, 121, 0.3);
}

.table__row:last-of-type td {
  border-bottom: 2px solid #009879;
}

.table__row__see-data-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table__row__see-data-btn span {
    margin-right: .5rem;
}


.table__row__see-data-btn a:link,
.table__row__see-data-btn a:visited{
  text-decoration: none;
  /* color: #444; */
  color: #fff;
  /* background: #cd853f; */
  background: #bc8f8f;
  /* background: #26a69a; */
  /* border: 1px solid #26a69a; */
  border: 1px solid #444;
  padding: 0.4rem;
  font-weight: 400;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;

}

.table__row__see-data-btn a:link:hover,
.table__row__see-data-btn a:visited:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  /* background: #0478c5; */
  /* color: #cd853f; */
  color: #bc8f8f;
  /* border: 1px solid #cd853f; */
  border: 1px solid #bc8f8f;
  /* border: 1px solid #fff; */
}

.table__row__remove-data-btn a:last-of-type{
  margin-left: 3rem;
  background-color: #dc143c;
}

.table__row__remove-data-btn a:last-of-type:hover{
  color: #dc143c;
  border: 1px solid #dc143c;
  background-color: #fff;
}

.table--single tr td:first-of-type {
  font-size: 110%;
  font-weight: 600;
}


/* ----------------------------------------MODAL WINDOW GROUP-------------------------------------------------- */
.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.5);
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
    max-width: 400px;
    min-width: 400px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
  color: #254057;
  border-radius: 100px;
}

.md-show {
	visibility: visible;
}

.md-close {
  cursor: pointer;
}

.modal-create__header {
    background-color: #2e3e4e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
}

.modal-create__header h2 {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.md-btn {
  padding: .2rem .4rem;
  min-width: 80px;
  border: 1px solid #008080;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.md-delete-data a:link,
.md-delete-data a:visited {
    display: block;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}

.md-btn:not(:last-of-type) {
  margin-right: 1rem;
}

.md-btn:nth-child(1) {
  background-color: #009879;
  color: #fff;
}

.md-btn:nth-child(2) {
  background-color: #fff;
  color: #009879;
}

.md-effect-1 .md-content {
	transform: scale(0.7);
	opacity: 0;
  transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	transform: scale(1);
	opacity: 1;
}

.md-content {
  background-color: #fff;
}

.group-edit-btn {
  cursor: pointer;
}

.modal-form {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  display: none;
}

modal-form-create--group,
modal-form-edit--group {
    position: relative;
}

.create-group-error {
    position: absolute;
    color: #dc143c;
    top: calc(100% - 58px);
    left: 24px;
}

.modal-form-visible {
  display: block;
}

.modal-form-confirm h2  {
    padding: .5rem 1rem;
}

.md-header {
  display: flex;
  border-bottom: 1px solid #e3e3e3;
}

.md-header h2 {
  flex-basis: 90%;
  padding: 0.5rem;
  font-weight: 100;
}

.edit-form__input-container {
  position: relative;
  margin: 1rem 0;
}
.edit-form__input-container span {
  font-size: 1.1rem;
  display: block;
  margin-bottom: 0.5rem;
}

.edit-form__input {
  width: 100%;
  outline: none;
  border: 1px solid #bababa;
  background: none;
  padding: 0.6rem 0.6rem;
  color: #254057;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  border-radius: 10px;
}




/* ----------------------------------------------------CREATE MODAL WINDOW------------------------ */
.create-student-form,
 .edit-student-form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.create-student-form .modal-form__input-container,
 .edit-student-form .modal-form__input-container {
    flex-basis: 40%;
}

.create-student-form small,
 .edit-student-form small {
    position: absolute;
}

.modal-form__input-container {
  position: relative;
  margin: 1.5rem;
}

.modal-form__input-error {
    color: #dc143c;
    padding-top: 0.2rem;
}

.modal-header {
  background-color: #2e3e4e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  padding:  .2rem;
}

.modal-create__buttons {
  background-color: #dcdbdc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .2rem;
}

.modal-create__buttons .md-close {
    margin-left: 1rem;
}

.modal-form__input {
  width: 100%;
  outline: none;
  border: 1px solid #bababa;
  background: none;
  padding: .8rem 0.8rem;
  color: #000;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  border-radius: 10px;
  background-color: #f8f8f8;
}


.modal-form__input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  /* width: 40%; */
  transform: translateY(-50%);
  font-size: 1rem;
  padding: 0 0.1rem;
  /* color: transparent; */
  pointer-events: none;
  z-index: 500;
  background-color: #fff;
  color: #2e3e4e;
}
.create-new-student-btn,
 .edit-student-btn {
    flex: 0 0 40%;
    height: 0;
    width: 0;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    background-color: #009879;
    color: #fff;
    border: 1px solid #009879;
    border-radius: 5px;
}

.create-new-student-btn:hover,
 .edit-student-btn:hover {
    color: #009879;
    background-color: #fff;
}

.modal-form__input-helper {
    color: #009879;
    position: absolute;
    top: -1rem;
    right: 0;
}

.modal-form__input-helper--application {
    top: -2.5rem;
}

.select-group {
    display-block;
    font-size: 1rem;
    font-weight: 600;
    color: #444;
    line-height: 1.3;
    padding: .6rem 1.4rem .5rem .8rem;
    width: 100%;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 5px;
    webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

.select-group:hover {
    border-color: #888;
}

.select-group option {
    padding: .6rem .8rem .5rem 1.4rem;
}
/* ------------------------------------------------MODAL ADD STUDENT--------------------------------- */

.add-student-wrapper {
  display: flex;
  flex-direction: column;
}

.add-students-block {
  min-height: 50px;
  border-bottom: 1px solid #c9c9c9;
}

.add-student-search {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ----------------------------------------------------STUDENT PROFILE----------------------------- */

.data-card--nav {
  position: relative;
}

 .data-card__nav {
  position: absolute;
  text-align: center;
  width: 50%;
  top: -3.48rem;
  left: 0;


}

.data-card__nav ul {
	position: relative;
	display: flex;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	flex-flow: row wrap;
	justify-content: center;
}

.data-card__nav-item {
	backface-visibility: hidden;
  position: relative;
	z-index: 1;
	margin: 0;
	text-align: center;
	flex: 1;
}

.data-card__nav-item a {
  position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  padding: 1rem;
  font-size: 1.3rem;
	color: #9aa3ae;
	transition: color 0.2s;
	display: block;
}

.data-card__nav-item a:hover {
	color: #fff;
}

.data-card__nav-item a::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	outline: 1px solid transparent;
	border-radius: 10px 10px 0 0;
	background: #2e3e4e;
	content: '';
	transform: perspective(7px) rotateX(1deg) translateZ(-1px);
	transform-origin: 0 0;
	backface-visibility: hidden;
  border: 1px solid #d8d8d8;
}

.data-card__nav-item--active a::after{
	background: #fff;
}

.data-card__nav-item--active a{
  color: #2e3e4e;
}

.data-card__nav-item--active a:hover {
	color: #2e3e4e;
}







.search-input-autocomplete {
  background-color: #f8f8f8;
}

.match-list {
  position: absolute;
  width: calc(100% + 2px);
  top: 39px;
  left: 0;
  background-color: #fff;
  height: auto;
}

.match-list .match-item span {
  background-color: #e6e6e6;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.match-list .match-item:hover span {
  background-color: #c9c9c9;
}

.match-list .match-item span:last-of-type {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.match-item:not(:last-child) {
  margin-bottom: 2.5px;
} 

.data-card__body-content {
  display: flex;
}

.data-card__body-title {
  padding: 1rem;
  /* color: #4b6f85; */
  /* background-color: #cee7f5; */
  color: #000;
  background: #d8d8d8;
  background: rgb(216,216,216);
  background: linear-gradient(90deg, rgba(216,216,216,1) 0%, rgba(252,252,252,1) 100%);
  font-weight: 300;
}

/* .data-card__body-title--non-table {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%);
} */

/* .data-card__profile-wrapper {
  display: flex;
  width: 100%;
}

.data-card__profile-block {
  display: flex;
  flex-direction: column;
}

.data-card__profile-block:nth-child(1) {
  background-color: #e5e5e5;
  margin-right: 5rem;
}

.data-card__profile-block:nth-child(2) {
  margin-right: 15rem;
}

.data-card__profile-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.1rem;
  color: #000;
}

.data-card__profile-item span:nth-child(1) {
  margin-bottom: .5rem;
  font-weight: 700;
  font-size: 1.2rem;
} */

.data-card__body-content {
  display: flex;
  /* justify-content: space-between; */
}

.data-card__img {
  flex: 0 0 25%;
  position: relative;
}

.data-card__img img {
  width: 100%;
  height: 100%;
  object-fit: conatin;
}

.data-card__text-data {
  flex: 1;  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 3rem;
}

.data-card__text-data-item {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  font-size: 1.3rem;
}

.data-card__text-data-item span:nth-child(1) {
  flex: 0 0 50%;
  /* font-size: 1.3rem; */
}

.data-card__text-data-item span:nth-child(2){
  flex: 0 0 50%;
  /* font-size: 1.3rem; */
  font-weight: 500;
}

.data-card__text-data-item::after {
  content: '';
  position: absolute;
  border-top: 1px solid #000;
  width: 100%;
  top: 100%;
  left: 0;
}


.data-card__buttons-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}



.data-card__item {
  background-color: #f9f8f9;
  width: 85%;
  padding: rem;
  box-shadow: 0 .8rem 5rem rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  border: none;
  display: flex;
  font-display: column;
  /* align-items: center; */
  border-radius: .8rem;
}

.data-card__item:first-of-type {
  margin-top: 2rem;
}

.data-card__item {
  margin-bottom: 3rem;
}

.data-card__info {
  display: flex;
  flex-direction: column;
}




.data-card__date span {
  display: block;
  color: #00000080;
  font-size: 1rem;
  font-weight: 600;
  margin: 2rem 0;
}

.data-card__subject {
  font-size: 1.55rem;
  margin: 0.9rem 0 1.25rem;
  text-transform: uppercase;
  color: #000;
}

.data-card__text {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
}

.data-card__btn-block {
  display: flex;
  align-items: center; 
}


/* ----------------------------------GROUP STUDENTS-------------------------------------------------------- */
.data-card__group-student-list {
  margin-top: 2rem;
  color: #000;
}

.data-card__group-student-list li  {
  display: flex;
  justify-content: center;
}

.data-card__student-list-name {
  display: flex;
  position: relative;
  min-width: 300px;
  margin: 0 3rem 1.5rem 1rem;
}

.data-card__student-list-name span:nth-child(1) {
  position: relative;
  height: 2rem;
  width: 2rem;
}

.data-card__student-list-name span:nth-child(1) span {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 1.3rem;
  background-color: #009879;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
}

.data-card__student-list-name span:nth-child(2) {
  position: relative;
  display: flex;
  align-items: center;
  height: 2rem;
  background: rgb(232,232,232);
  background: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgba(252,252,252,1) 100%);
  margin-left: 1rem;
  font-size: 1.6rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.data-card__student-list-name span:nth-child(2)::after {
  position: absolute;
  content: '';
  height: 1rem;
  width: 1rem;
  background-color: #009879;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
  transition: .3s;
}

.data-card__student-list-name:hover > span:nth-child(2)::after {
  left: -1rem;
}

.data-card__student-list-buttons {
  display: flex;
  /* cursor: pointer; */
}

.data-card__card-btn { 
  font-size: 1rem;
  border: 1px solid #444;
  height: 2rem;
  display: flex;  
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
}

.data-card__card-btn span:nth-child(1){
  margin-right: .5rem;
}

.data-card__card-btn:nth-child(1) {
  margin-right: 1rem;
  background-color: #dc143c;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.data-card__card-btn:nth-child(1):hover {
  border: 1px solid #dc143c;
  background-color: #fff;
  color: #dc143c;
}

.data-card__card-btn:nth-child(2) {
  padding: 0;
}






.modal-form--signup {
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  width: 1100px;
  max-height: 600px;
}








/* -----------------------------------------------------------FORMS-------------------------------------------------- */

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img-block img {
  width: 500px;
}

form {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.email {
  margin-top: 0;
}

.icon-block {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-block span {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  transition: 0.4s;
}

.input-orange:before {
  background-color: #ff7730;
}

.input-green:before {
  background-color: #38d39f;
}

.input-orange:after {
  background-color: #ff7730;
}

.input-green:after {
  background-color: #38d39f;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .icon-block > span {
  color: #38d39f;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
}

.input-div.pass {
  margin-bottom: 4px;
}

.btn-form {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn-form--green {
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
}
.btn-form--green::after {
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
}

.btn-form:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-form::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-form:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-form:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}





























.data-card__section {
  /* width: 100%;
  height: 100vh;
  position: relative; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.data-card__section--scrolled {
    flex-wrap: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.data-card__card {
  flex-basis: 45%;
  /* position: relative; */
  /* max-width: 420px; */
  padding: 2rem 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
}
.data-card__section--scrolled .data-card__card {
  background-color: #dbdbdb;
  margin: 1rem 0 1rem;
  padding: 1rem;
  width: 80%;
}

.data-card__card-top {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* float: left; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  background-color: #eb524a;
  background-color: #dbdbdb;
  border: 1px solid #d8d8d8;
}

.data-card__card-top-visible {
  display: flex;
  width: 100%;
  padding: 1rem 1rem 3rem 1rem;
  position: relative;
  text-align: left;
}

.data-card__section--scrolled .data-card__card-top-visible {
    padding: 0;
}

.data-card__card-top-visible-img {
  flex: 0 0 20%;
  margin-right: 10%;
}

.data-card__section--scrolled .data-card__card-top-visible-img {
    flex: 0 0 15%;
    margin-right: 15%;
}

.data-card__card-top-visible-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.data-card__card-top-visible aside {
  flex: 0 0 50%;
  color: #fff;
  color: #000;
  margin-top: .6rem;
}

.data-card__section--scrolled .data-card__card-top-visible aside {
    margin-top: 0;
}

.data-card__card-top-visible aside h1 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
.data-card__card-top-visible aside span {
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 160%;
}

.data-card__btn-block {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.data-card__delete-btn {
  width: 32px;
  height: 32px;
  margin-left: 1rem;
  cursor: pointer;
  transition: .5s;
}

.data-card__edit-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: .5s;
}

.data-card__edit-btn:hover,
.data-card__delete-btn:hover {
  transform: scale(1.2);
}

.data-card__delete-btn img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.data-card_edit-btn img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.data-card__card-top-hidden {
  width: 100%;
  background-color: #c63535;
  background-color: #2e3e4e;
  max-height: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.55s;
  -moz-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}
.data-card__card-top-hidden.active {
  max-height: 100px;
}
.data-card__card-top-hidden.active p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition-delay: 0.2s;
}
.data-card__card-top-hidden p {
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.data-card__card-top-btn {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  background-color: #ffbe44;
  background-color: #009879;
  color: #c63535;
  color: #fff;
  border: 0;
  width: 150px;
  height: 48px;
  text-align: center;
  border-radius: 30px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: -1.5rem;
  /* margin-right: -6.25rem; */
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transition-delay: 0.1s;
  outline: none;
  overflow: hidden;
  z-index: 10;
  font-family: inherit;
  cursor: pointer;
}
.data-card__card-top-btn span {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  transition-delay: 0.4s;
  display: block;
  width: 150px;
  float: left;
  padding: 1rem 0px;
}
.data-card__card-top-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.data-card__card-top-btn svg path {
  fill: #c63535;
  fill: #fff;
}
.data-card__card-top-btn.active {
  margin-right: 0;
  right: 3rem;
  /* right: 10%; */
  width: 65px;
  height: 65px;
  margin-bottom: -2rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 65px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.data-card__card-top-btn.active span {
  opacity: 0;
  transition-delay: 0s;
  width: 150px;
}
.data-card__card-top-btn.active svg {
  opacity: 1;
  transition-delay: 0.5s;
}

.data-card__card-bottom {
  width: 100%;
  overflow: hidden;
  height: 0px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.data-card__card-bottom.active {
  min-height: 100px;
  height: auto;
}
.data-card__card-bottom.active .data-card__card-bottom-content {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  transition-delay: .5s;
}

.data-card__card-bottom-content {
  width: 100%;
  margin-top: 1.1rem;
  background-color: #fff;
  background-color: #dbdbdb;
  border: 1px solid #d8d8d8;
  padding: 1.1rem 1.25rem;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  position: relative;
}

.data-card__card-bottom-text h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.4px;
  margin-bottom: .5rem;
}
.data-card__card-bottom-text span {
  font-size: 1.1rem;
  color: #b3b3b3;
  display: block;
  letter-spacing: 0.4px;
}

.data-card__card-text {
    font-size: 1.2rem;
    width: 100%;
    min-height: 40px;
    max-height: 80px;
    overflow-y: auto;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-top: 2px solid #c9c9c9;
}

.simplebar-scrollbar {
    background-color: #009879;
}

.simplebar-track {
    background-color: #adadad;
}


/* --------------------------------------RESPOSIVE------------------------------------------------- */

@media screen and (max-width: 1250px) {
  /* .data-card__card-top-visible aside h1 {
    font-size: 130%;
  } */
  .data-card__card-top-visible-img {
    flex: 0 0 25%;
  }

  .data-card__card-top-visible aside {
    flex: 0 0 45%;
  }

  .data-card__btn-block {
    flex: 1;
  }

  .data-card__card {
   flex-basis: 50%;
  }

  .data-card__nav {
    width: 60%;
  }

  .data-card__text-data-item span:nth-child(2){
    text-align: center;
  }
}

@media screen and (max-width: 1150px) {
     .create-student-form,
     .edit-student-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    position: relative;
    flex-direction: column;
}

.create-student-form .modal-form__input-container,
 .edit-student-form .modal-form__input-container {
    width: 80%;
}

.create-new-student-btn,
 .edit-student-btn {
    width: 60%;
    margin-right: 0;
    margin-bottom: 1rem;
}
}

@media screen and (max-width: 1100px) {
  .data-card__section {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .data-card__card {
    width: 80%;
  }

  .data-card__nav {
    width: 65%;
  }
  .data-card__text-data-item {
    font-size: 1.1rem;
  }
}



@media screen and (max-width: 1050px) {
  .login-container{
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .login-content form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img-block img {
    width: 400px;
  }

  .table--multiple {
    font-size: 80%;
  }

  .data-card__nav {
    width: 70%;
  }

  .data-card__text-data {
    margin-left: 2rem;
  }

}

@media screen and (max-width: 900px) {

 .slideText {
  font-size: 1.9rem !important;
  width: 85% !important;
}
  .login-container {
    grid-template-columns: 1fr;
  }

  .dashboard-header {
    height: 70px;
  }

  .img-block {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }


  .table--multiple {
    font-size: 100%;
  }
  .sidebar {
    height: 100%;
    top: 70px;
    transform: translateX(-100%);
    transition: transform .5s ease-in;
  }

  .sidebar--active {
    transform: translateX(0);
  }

  .sidebar__icon {
    display: block;
  }

  .icon__hide {
    display: none;
  }
  .main-content {
    margin: 0;
    margin-top: calc(70px + 1rem);
    width: 100%;
  }
}

@keyframes navLinkFade {
from {
  opacity: 0;
  transform: translateX(-50px);
}
to {
  opacity: 1;
  transform: translateX(0);
}
}




@media (max-width: 768px) {
  .table--multiple {
   font-size: 90%;
  }
  .data-card__nav {
    width: 100%;
  }

  .data-card__body-content {
    margin-top: 2rem;
  }

  .data-card__img {
    display: none;
  }
  .data-card__text-data {
    margin: 0;
  }
  .data-card__text-data-item {
    width: 90%; 
    margin: 0 auto 2rem;
    font-size: 1.3rem;
  }

  .data-card__text-data-item::after {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .table--multiple {
   font-size: 85%;
  }
}


@media (max-width: 650px) {

 .slideText {
  font-size: 1.8rem !important;
  width: 80% !important;
}
  .data-card__text-data-item span:nth-child(2){
    text-align: end;
  }

  .table td {
    word-break: break-all;
  }

  .table--multiple {
    position: relative;
    margin-top: 35px;
   }
  .table--multiple thead {
    /* display: none; */
    position: absolute;
    top: -35px;
    /* transform: translateY(-50%); */
    left: 0;
    width: 100%;
  }

  .table--multiple thead th {
    height: 35px;
    border-bottom: none;
  }
  
  .table--multiple thead tr::after {
    display: none;

  }

  .table--multiple thead tr {
    background: #009879;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .table__sort-option {
    flex-basis: 50%;
    flex-grow: 1;
  }

  .table__sort-option:nth-child(1) {
    border-right: none;
  }

 .table__non-sort-option {
   display: none;
 }


  .table--multiple, .table--multiple tbody, .table--multiple tr, .table--multiple td {
    display: block;
    width: 100%;
    font-size: 100%;
  }

  .table--multiple td {
    padding: 1rem;
    display: flex;
    align-items: center;
  }

  .table--multiple tr {
    margin-bottom: 3rem;
    position: relative;
  }

  .table--multiple tr::after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #009879;
  }

  .table--multiple tr:last-of-type td {
    border-bottom: 1px solid #d8d8d8;
  }

  .table--multiple tbody tr td {
    display: flex;
    justify-content: flex-end;
    background-color: #f3f3f3;
  }

  .table--multiple tbody tr td:last-of-type {
    display: flex;
    justify-content: center;
  } 

  .table--multiple tbody tr td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 2rem;
    font-weight: 600;
    font-size: 110%;
    text-align: left;
  }

  .main-content > h1 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .main-content--nav > h1 {
    font-size: 1.5rem;
    margin-bottom: 6.5rem;
    text-align: center;
  }

  .data-card__header {
    flex-direction: column;
  }

  .data-card__buttons-wrapper {
    margin-bottom: 1rem;
  }

  .data-card__buttons-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .data-card__buttons-wrapper .data-card__header-button:nth-child(1) {
    margin-bottom: 1rem;
  }

  .data-card__buttons-wrapper .data-card__header-button:nth-child(2) {
    margin: 0;
  }

  .data-card__card {
    width: 100%;
  }
} 

@media (max-width: 500px) {
  .data-card__card-top-visible {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data-card__card-top-visible-img {
  width: 30%;
  margin-right: 0 !important;
  order: 1;
  margin-bottom: 1rem;
}
.data-card__btn-block {
  order: 2;
  margin-bottom: 1rem;
}
.data-card__card-top-visible aside {
  order: 3;
}
.data-card__text-data-item {
    font-size: 1.1rem;
}

.modal-form__input-helper {
    top: -3rem;
}
}

 @media (max-width: 450px) {
    .create-student-form .modal-form__input-helper,
     .edit-student-form .modal-form__input-helper {
        top: -1.7rem;
    }
 }
 

 @media (max-width: 400px) {

 .slideText {
  font-size: 1.5rem !important;
  width: 70% !important;
}
  .data-card__text-data-item span:nth-child(1) {
    flex: 0 0 40%;
  }
  .data-card__text-data-item span:nth-child(2) {
    flex: 1;
  }
  .data-card__nav-item a {
    padding-bottom: 1.2rem;
    font-size: 1.1rem;
  }
  .md-modal {
    min-width: 300px;
  }
  .modal-form {
    padding: 0;
  }
  .modal-form__input-helper {
    top: -1.5rem;
  }


  .modal-form-confirm h2 {
    font-size: 1.2rem;
  }

  .modal-form__input-container {
    margin-bottom: 2rem;
  }

  .create-student-form .modal-form__input-container,
  .edit-student-form .modal-form__input-container {
       margin-bottom: 1.5rem;
    }

  .modal-form__input[placeholder] {
    font-size: .9rem;
  }
  .table--multiple tbody tr td::before {
    width: 40%;
  }
 }

 @media (max-width: 350px) {
   .table--multiple thead th {
    font-size: 90%;
  }
 }




/*----------------------------------HOME PAGE-------------------------------------------*/



.navbar__content {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 1rem 1rem .5rem;
}

.navbar__top h2 {
  font-weight: 500;
}

.auth-btn:link,
.auth-btn:visited {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: .6rem 1.1rem;
  background-color: #E07A5F;
  color: #fff;
  border: 2px solid #E07A5F;
  margin-right: 2rem;
}

.auth-btn:link:hover,
.auth-btn:visited:hover {
  background-color: #fff;
  color: #E07A5F;
  border: 2px solid #E07A5F;
}

.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.progressbar {
  height: 10px;
  width: 100%;
  background-color: #ccc;
}

.progressbar-line {
  height: 10px;
  width: 0;
  background-color: #E07A5F;
}

/* .navbar__logo {
  font-size: 1.4em;
  font-weight: 600;
} */

.navbar__menu-list {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}


.navbar__menu-list a:link,
.navbar__menu-list a:visited {
  text-decoration: none;
  color: #000;
  display: block;
  /* padding: 1.5em; */
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.navbar__menu-list li a::after {
  position: absolute;
  content: '';
  width: 100%;
  border-bottom: 2px solid black;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.navbar__menu-list li a::before {
  position: absolute;
  content: '';
  width: 100%;
  border-top: 2px solid black;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.navbar__menu-list li a:hover::after {
  top: 1em;
  opacity: 1;
  visibility: visible;
}

.navbar__menu-list li a:hover::before {
  bottom: 1em;
  opacity: 1;
  visibility: visible;
}


.navbar__icon {
  color: #000;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.navbar__icon-cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.navbar__icon-menu-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.bubble {
  position: absolute;
  z-index: -2;

}

/*
  ------------------------------------MAIN-------------------------------------------------------------------------*/

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.about {
  padding: 12em 2em 0 2em;
}

.enrollment,
.methodology,
.news {
  padding: 0 2em;
}

.enrollment {
  background-image: url('../img/enrollment-background.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.about,
.enrollment,
.methodology,
.news {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.methodology__left-block,
.enrollment__right-block,
.about__right-block,
.news__left-block {
  overflow: hidden;
  flex: 0 0 50%;
}

.methodology__right-block,
.enrollment__left-block,
.about__left-block,
.news__right-block {
  overflow: hidden;
  flex: 1;
}

.enrollment__right-block,
.about__right-block {
  margin-left: 1rem;
}

.methodology__left-block,
.news__left-block {
  margin-right: 1rem;
}

.about__left-block h2,
.enrollment__left-block h2 {
  color: #2e3e4e;
  margin-bottom: .5em;
  font-weight: 100;
}

.methodology__right-block h2 {
  color: #009879;
  margin-bottom: .5em;
  font-weight: 100;
}

.news__left-block h1,
.about__left-block h1,
.enrollment__left-block h1 {
  font-size: 2.5em;
  color: #2e3e4e;
  line-height: 1.5em;
  position: relative;
  margin-bottom: 1em;
}

.news__left-block h1:after,
.about__left-block h1:after,
.enrollment__left-block h1:after {
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 40px;
  height: 4px;
  content: "";
  border-radius: 5px;
  background: #009879;
  opacity: 0.4;
}

.news__left-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.news__announcement {
  display: none;
}

.news__announcement--active {
  display: block;
}

.news__btn-block {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.news__btn {
  cursor: pointer;
}


.methodology__right-block h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  position: relative;
  margin-bottom: 1em;
  color: #009879;
}

.methodology .methodology__right-block h1::after {
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 40px;
  height: 4px;
  content: "";
  border-radius: 5px;
  background: #2e3e4e;
  opacity: 0.7;
}

.news__left-block p,
.about__left-block p,
.enrollment__left-block p {
  font-size: 1.125em;
  line-height: 1.75em;
  margin-bottom: 1em;
}

.about__link,
.enrollment__link,
.slider-prev {
  font-weight: 650;
  display: block;
  width: 100%;
  max-width: 180px;
  margin: 2em 0 1em;
  padding: 1em;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background: #009879;
}


.methodology__right-block p {
  font-size: 1.125em;
  line-height: 1.75em;
  margin-bottom: 1em;

}

.methodology__link,
.slider-next {
  position: relative;
  font-weight: 600;
  z-index: 99;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 2em 0 1em;
  padding: 1em;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background: #2e3e4e;
}


.line {
  position: relative;
  z-index: 10;
  height: 2px;
  width: 90%;
  background-color: rgb(16, 16, 17);
  margin-top: 10px;
  margin-bottom: 100px;
}

/* --------------------------------------Footer---------------------------------- */
 footer {
    margin-top: 5em;
  }
.footer__page-banner {
  background: rgb(67, 90, 112);
  background: linear-gradient(90deg, rgba(67, 90, 112,1) 0%, rgba(46,62,78,1) 100%);
  padding: 2em;
  display: flex;
  align-items: center;
}

.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer__left {
  margin-right: 1em;
  position: relative;
}

.footer__left::after {
  margin-right: 1em;
  position: absolute;
  content: '';
  left: 0;
  top: 100%;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.footer__right {
  display: flex;
}

.footer__phonemail {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.footer__right div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
}

.footer__right div:not(:last-of-type) {
      margin-bottom: .5em;
}

.footer__center div a:link,
.footer__center div a:visited,
 .footer__right div a:link,
.footer__right div a:visited {
  color: #fff;
}

.footer__center div {
    display: flex;
    align-items: center;
}

.footer__right div p,
 .footer__center div p {
  margin-left: 1em;
}

.fa-map-marker-alt{
  transition: transform .3s;
}

.fa-map-marker-alt:hover {
  transform: scale(1.4);
}

.footer__icons {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0 !important;
}

.footer__icons a:link,
.footer__icons a:visited {
  color: #fff;
  font-size: 2em;
}

.footer__icons a:not(:last-of-type) {
  margin-right: 1em;
}



/* ------------------------------------------------------------------------APPLICATION ------------------------------------------*/

.application-content {
  display: flex;
  justify-content: flex-end;
  background-image: url('../img/about-us-background.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.application-img {
  flex: 1;
  overflow: hidden;
  /* position: relative; */
}

.application-img img {
  width: 100%;
  height: 100% !important;
  object-fit: contain;

}

.application-form {
  flex: 0 0 70%;
}

.application-error {
    color: #dc143c;
    position: absolute;
    left: 0;
    top: 100%;
    font-size: .8rem;
}

.inpput-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.pt1 {
  flex: 0 0 30%;
  margin-right: 10px;
}

.pt2 {
  flex: 0 0 30%;
}

.application-content img {
  height: 100px;
}

.application-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
  text-align: center;
}

.application-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 40px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.application-content .input-div.email {
  margin-top: 0;
}

.icon-block {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-block span {
  transition: 0.3s;
}

.inpput-wrapper {
  display: flex;
  flex-direction: row;
}

.title {
  color: #2e3e4e !important;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  transition: 0.4s;
}

.input-orange:before {
  background-color: #ff7730;
}

.input-green:before {
  background-color: #38d39f;
}

.input-orange:after {
  background-color: #ff7730;
}

.input-green:after {
  background-color: #38d39f;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .icon-block > span {
  color: #009879;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
}

.input-div.pass {
  margin-bottom: 4px;
}

.btn-form {
  display: block;
  position: relative;
  width: 25%;
  min-width: 200px;
  height: 50px;
  outline: none;
  border: none;
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin: 1rem auto;
  cursor: pointer;
  transition: 0.5s;
}
.btn-form--orange {
  background-color: #E07A5F;
}
.btn-form--orange::after {
  background-color: #E07A5F;

}

.btn-form:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-form::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-form:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-form:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* -------------------------SLIDER---------------------------------------------------------------------------- */


.slider{
  width: 100%;
  position: relative;
  height: 400px;
  margin: 3rem auto 5rem;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  height: auto;
    background-color: #ebebeb;
}


.slider h1{
   background: rgb(67, 90, 112);
  background: linear-gradient(90deg, rgba(67, 90, 112,1) 0%, rgba(46,62,78,1) 100%);
color: #fff;
font-size: 2rem;
text-align: center;
flex: 0 0 25%;
margin-bottom: 1rem;
}


.slider .prev, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(67, 90, 112);;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



.slideText {
  padding: 1em;
  padding-bottom: 0;
  width: 90%;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: none;
  color: #000;
  font-size: 2rem;
  margin: 0 auto;
  flex: 1;
   word-break: break-all;
}

.slider .item span {
  height: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
    position: relative;
    margin-left: 20%;
}

    .slider .item span::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-top: 2px solid rgba(0, 0, 0, .5);
    }

.slider .item {

  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 280px;
  display-flex;
  flex-direction: column;

  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}
@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

.alert-final {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
}

.alert-final--success-message {
    background-color: #009879;

}
.alert-final--error-message {
     background-color: #dc143c;

}

/* --------------------------------responsive-------------------------------------------------- */

@media (max-width: 1250px) {
  .navbar__menu-list {
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (max-width: 1200px) {
    .application-img {
    display: none;
  }
  .application-form {
    flex: 1;
  }
}

@media (max-width: 1000px)  {

  .navbar__login-block {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
  }
}

@media (max-width: 900px) {
.slider {
margin-bottom: 2rem;
}
  .navbar__top h2 {
    margin: 0 auto;
  }
  .navbar__icon {
    display: block;
  }
  .navbar__content {
    height: 70px;
    justify-content: flex-end;
  }
  .navbar__icon-menu-btn {
    position: absolute;
    right: 90%;
    top: 20px;
    z-index: 100;
  }

  .navbar__content {
    height: 0;
  }
  .navbar__menu-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 200;
    padding: 50px 0 0 0;
    transform: translateX(-110%);
    transition: transform .5s ease-in;
  }

  .navbar__menu-list li {
    margin-bottom: .5em;
  }

  .navbar__menu-list li a {
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
    opacity: 0;

  }

  .navbar--active {
    transform: translateX(0);
  }

  .navbar__icon--hide {
    display: none;
  }

  .about {
    padding-top: 7em;
  }

  .methodology {
    padding-top: 4em;
  }

  .footer__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__center {
    margin-bottom: 1em;
  }

  .footer__left {
    margin-right: 0;
    margin-bottom: 2em;
  }
  .footer__right div {

  justify-content: center;

}

 .pt1, .pt2 {
    flex: 0 0 40%;
 }

.application-content {
      display: flex;
      justify-content: flex-end;
      background-image: none;
    }
    .application-form h2 {
      font-size: 2em;
    }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@media (max-width: 850px) {
.about h1,
.enrollment h1,
.methodology h1 {
  font-size: 2rem !important;
  }

  .about,
  .enrollment,
  .methodology {
    font-size: 98%;

    }

}

  @media (max-width: 768px) {
    .about,
    .enrollment,
    .methodology,
    .news {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      }

    .about a,
    .enrollment a,
    .methodology a {
      margin: 1em auto 3em;
      font-size: 90%;
      padding: .8em;
    }

    .methodology__left-block,
    .enrollment__right-block,
    .about__right-block,
    .news__left-block {
      margin: 0;
    }

    .methodology__right-block,
    .news__right-block {
      order: 1;
    }

    .methodology__left-block,
    .news__left-block {
      order: 2;
    }

    .line {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .line:first-of-type {
      padding-top: 1px;
    }


    .enrollment {
      background-image: url('../img/enrollment-background.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
    }

    .about,
    .enrollment,
    .methodology {

  height: auto;

}

.inpput-wrapper {
    flex-direction: column;
    align-items: center;
}

.pt1, .pt2 {
    width: 70%;
}

}


@media (max-width: 650px) {
  .navbar__top h2 {
    display: none;
  }
  .navbar__top {
    justify-content: flex-end;
  }
}


@media (max-width: 450px) {
  .about__right-block  img{
      object-fit: contain;
  }


  .footer__content  {
    font-size: 80%;
  }

  .application-form h2 {
    font-size: 1.5em;
  }

  .modal-form__input-helper {
    top: -3rem;
  }

  .pt1, .pt2 {
    width: 80%;
  }

}













